<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>My personel page</title>
</head>
<body>
    <h1>Молодой падаван Андрей</h1>
    <img src="https://sun9-4.userapi.com/s/v1/if1/HJDnLhi02-eL8mBloisMb3X7K1_RoZLPObwbd7Ts11kxBqPapyMSf7TN1WTblCmzFT84u6_N.jpg?size=1333x1000&quality=96&type=album"
         alt="Тут должна была быть картинка" height="300">
    <h3>Привет! Я будущий <del>false</del><mark>true проггер</mark>,
        <a  href="https://vk.com/morley_dotes">вот моя страничка</a></h3>
    <div>
        <h3><em>Здесь должен был быть<br>какой-то текст</em></h3>
        <p><del>Но его не будет</del></p>
    </div>
    <div>
        <p><ins>Так же здесь могла быть ваша реклама</ins></p>
        <p><strong>Вот она как раз будет</strong></p>
    </div>
</body>
</html>